---
layout: default
title: Archives - Vijay Krishna Palepu
---

  <!-- <ul class="post"> -->
    {% for post in site.posts %}
      {% if post.categories contains 'blog' %}
        {% continue %}
      {% endif %}

      <div class="plain stretch">
        
<!--         {% if post.categories contains 'publication' %}
          <a href="{{ site.url }}/{{ post.links[0] | last }}">{{ post.title }}</a> |
        {% else %}
          <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> |
        {% endif %} -->

        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> |
        <span class="small">{{ post.date | date_to_string }}</span> |      
        <span>
        {% include list_display.html items=post.categories limit=1 %}
        {% include list_display.html items=post.tags %}
        </span>

        {% if post.tweets != null %}
          {% for tweet in post.tweets %}
              {% include tweet.html id=tweet alttext=post.title %}
          {% endfor %}
        {% endif %}

        {% if post.speakerdeck != null %}
            {% include speakerdeck.html id=post.speakerdeck %}
        {% endif %}

        {% if post.speakerdeck == null %}
          {% if post.tweets == null %}
            <p class = "small">
              {{ post.content | strip_html | truncate:1000, " ..." }}
            </p>
          {% endif %}
        {% endif %}


        {% if post.categories contains 'publication' %}
          {% for link in post.links %}
            {% assign value = link | last %}
            {% assign key = link | first %}
            
            {% if key == 'paper' %}
              {% assign paperurl = value %}
              {% break %}
            {% endif %}
          {% endfor %}

          <img style="float: left; width: 25%; min-width:100px; margin: 10px; -moz-border-radius: 10px; border-radius: 10px;" src="{{ site.url }}/images/{{ post.image }}" alt="{{ post.nick }}" />
          <p class = "small">
            {{ post.abstract }}
            <br/>
            {% for link in post.links %}
              <a href="{{ link | last }}">[{{ link | first }}] </a> 
            {% endfor %}
          </p>
          <!-- </div> -->
        {% else %}
          {% if post.image != null %}
            {% for image in post.image %}
              <a href="{{ site.url }}{{ post.url }}">
                <img style="width: 475; margin: 10px; -moz-border-radius: 10px; border-radius: 10px;" src="{{ site.url }}/images/{{ image }}">
              </a>
            {% endfor %}
          {% endif %}

        {% endif %}
      </div>
    {% endfor %}
  <!-- </ul> -->
