---
layout: default
title: Projects - Vijay Krishna Palepu
---


{% include project_group.html heading="@research" group=site.categories.research-project %}

{% include project_group.html heading="@graduate coursework" group=site.categories.class-project %}

{% include project_group.html heading="@undergrad" group=site.categories.undergrad %}

{% include project_group.html heading="hacks" group=site.categories.hack %}

{% include project_group.html heading="all projects" group=site.categories.project %}

