---
layout: default
title: Research - Vijay Krishna Palepu
---

<div class='plain stretch'>
	<strong class="big">Summary</strong><br>
	<p>I am interested in building, visualizing and studying reusable models of the runtime behavior of software components that can be leveraged for a number of software development, maintenance, and testing tasks. My current focus, specifically, is to facilitate software debugging which is a complex and ubiquitous activity within software engineering.</p>
	<p>My doctoral research looked at models for studying runtime behavior of software that often suffer from information overload given that even moderately sized software programs, which typically range from 10–100KLOC, often encompass millions of runtime actions that need to be accounted for. My work looks at solutions that facilitate analysis and comprehension of software executions in ways that combat information overload by (a) abstracting or summarizing program behavior and (b) globally visualizing program executions.</p>
	<p>Following are brief descriptions of the projects I have worked on.</p>
</div>


	<!-- <strong class="big">Publications &rsaquo;&rsaquo;</strong> -->
	<!-- <ul> -->
{% for post in site.categories.publication %}
<div id="publications" class="plain stretch">
	<strong class="big">{{ post.nick }}</strong>
	<br>
	<img style="float: right; width: 250; margin: 10px; -moz-border-radius: 10px; border-radius: 10px;" src="{{ site.url }}/images/{{ post.image }}" alt="{{ post.nick }}" />
	{{ post.abstract }}
	<br>
	<br>
	{% include citation.html post = post %}
</div>
{% endfor %}

<div class="plain stretch">
	I also make it a habbit to archive some of my older projects and work when possible. Here is a collection of some of my other random projects that I have worked on over the years: <a href="{{ site.url }}/projects.html">Projects</a>
</div>
