      <small>
        {% if include.on_home_page != true %}
        <a href="{{ site.url }}/index.html" class="icon-home"></a> &bull;
        {% endif %}


        <a href="https://bitbucket.com/vpalepu"><b>bitbucket</b>.com</a> &bull;
        <a href="http://www.linkedin.com/in/palepuvijaykrishna" target="_blank">Linked<b>in</b></a> &bull;
        <a href="https://medium.com/@vkrishnapalepu" target="_blank">medium</a> &bull;

        <a href="https://github.com/VijayKrishna"><b>github</b>.com</a>

        {% if include.on_home_page != true %}
        &bull; <a href="{{ site.url }}/archives.html"><b>arch</b>ives</a>
        {% endif %}

        <!-- <a href="http://instagram.com/vpalepu" target="_blank">Instagram</a> &bull; -->
        <!-- <a href="http://stackoverflow.com/users/1481262/vijay">stack<b>overflow</b></a> &bull; -->
        <!-- &bull; -->
        <!-- Background: <a href="{{ site.url }}/images/mt-rainier.JPG" target="_blank">Mt. Ranier</a>, © Vijay Krishna Palepu, 2015 -->
        <!-- Background Photo Credit: <a href="http://sudhapalepu.wordpress.com/" target="_blank">Sudha Palepu</a> -->
      </small>