---
layout: default
---

<title>{{ page.title }}</title>
<div class="center">
<p>
{{ page.from }} to {{ page.to }}
</p>

<div id="post">
{{ content }}
</div>

<div><i>TL;DR</i> - {{ page.one-liner }} </div>

<div style="margin-bottom: 10px">
	<br>
	<b class="label">Tags:</b>
	{% for tag in page.tags %}
		<span class="tags">{{ tag }}</span>
		{% if forloop.last != true %}
			<span> </span>
		{% endif %}
	{% endfor %}
</div>
</div>

<div class="center">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
